* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
  background-image: url(search.png);
  background-size: cover;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  align-items: center;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.category-search-form-p {
  background-color: white;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-search-form {
  text-align: center;
  background-color: white;
  width: 520px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 30px;
  cursor: default;
  letter-spacing: 1px;
  padding: 10px;
  font-size: 15px;
}

.category-search-form:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  background-color: rgb(235, 253, 255);
  /* 変化するまでの時間を設定 */
  transition: 0.5s;
}

.category-search-form-price {
  margin: 10px 0;
}

.category-search-form input {
  padding: 0 10px;
}

.categoyu-search {
  margin-left: 30px;
}

.favorite-index {
  text-align: center;
  background-color: white;
  width: 150px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 30px;
  cursor: default;
  letter-spacing: 1px;
  padding: 10px;
  margin-left: 15px;
  font-size: 15px;
}

.favorite-index a {
  color: black;
}

.favorite-index:hover{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  background-color: rgb(235, 253, 255);
  /* 変化するまでの時間を設定 */
  transition: 0.5s;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.brand-list {
  text-decoration: none;
  color: #333333;
}

.lists-right {
  display: flex;
  list-style: none;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}