.card-new {
  background-image: image-url('card-new');
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
  margin: 50px 0;
}

.card-new-page {
  margin: 50px auto 50px auto;
  width: 600px;
  padding: 50px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 30px;
  /* 項目名にカーソルを合わせた時、カーソルが変わらないように。 */
  cursor: default;
  text-align: center;
  letter-spacing: 3px;
  background-color: white;
}

.card-new-page:hover {
  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.4);
  background-color: rgb(219, 248, 250);
  /* 変化するまでの時間を設定 */
  transition: 0.5s;
}

.Cardpage {
  font-size: 30px;
}

.input-expiration-date-wraps {
  display: flex;
  justify-content: center;
}

.card-cvc {
  width: 220px;
}

.card-number-new {
  width: 220px;
}